html{
    font-family: serif;
}

.header{
    text-align: center;
    font-family: serif;
    
    box-shadow: 0 0 10px;
    justify-content: space-between;
    display: flex;
}

.header h1 {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Pour aligner le bouton de réservation à droite */
    
}

.logo {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 1rem;
}

.logo p, .logo span {
    margin: 0;
    padding: 0;
}

.logo p {
    color: red;
}


.reservation {
    background-color: rgb(255, 0, 0);
    border: none;
    padding: 0.5rem 1rem; /* Réduire le padding pour rendre le bouton plus discret */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.875rem; /* Réduire la taille de la police pour le bouton */
    border-radius: 0.75rem; /* Réduire le rayon des coins pour équilibrer */
    margin-left: auto;
    margin-right: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}




body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.insta {
    text-align: center;
    padding: 2em 0;
}

.insta h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    
}

.insta .underline {
    width: 50px;
    height: 2px;
    background-color: black;
    margin: 10px auto 0 auto;
}

nav {
    background-color: #333;
    display: flex;
    justify-content: center; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end; /* Aligne les éléments en bas */
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}


#banniere {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100%; 
    overflow: hidden; 
    position: relative; 
}

#banniere img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    position: absolute; 
    top: 0;
    left: 0;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 100px;
    background-color: antiquewhite;
}

.grid-item {
    overflow: hidden;
    position: relative;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#presentation{
    background-color: beige;
}

.bienvenue {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: royalblue;
}

.bienvenue h1 {
    font-size: 3em; /* Taille de police pour le titre */
    margin-bottom: 0.5em; /* Espacement en bas du titre */
}

